.main-content {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url("img/banner-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  min-height: 100vh;
}

.main-content h1 {
  font-weight: 900;
  font-size: 50px;
  font-family: "Playfair Display", serif;
}

.main-content p {
  color: #ddd;
  margin: 30px 0 50px 0;
  font-family: "Abril Fatface", serif;
  font-size: 17px;
}

.main-content .btn-primary {
  border-radius: 2em;
  border: none;
  background: #131a48;
  color: #fff;
  padding: 10px 20px;
  font-family: "Abril Fatface", serif;
  font-weight: 700;
  border-bottom: 4px solid #fa9c23;
}

.main-content .btn-primary:hover {
  background: #fff;
  color: #131a48;
  font-weight: 900;
}

.main-content img,
#features img {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-40px);
  }
}

/* side icon at the right off the home page  */
.icon {
  top: 30%;
  position: absolute;
  text-align: right;
  right: 0;
  width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 240px;
  z-index: 700;
}
.icon a {
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 1000;
  padding: 10px;
  font-size: 14px;
  font-family: "oswald", "sans-serif";
  border-radius: 50px 0px 0px 50px;
  transform: translate(150px, 0px);
  transition: all 0.5s;
}
.icon a:hover {
  transform: translate(10px, 0px);
}
.icon a i {
  margin-right: 25px;
  background-color: white;
  height: 40px;
  width: 40px;
  color: black;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s;
}
.icon a:hover i {
  transform: rotate(360deg);
}

.icon a i.fa-facebook-f {
  color: #2c80d3;
}
.icon a i.fa-youtube {
  color: #fa0910;
}
.icon a i.fa-twitter {
  color: #2c80d3;
}
.facebook {
  background-color: #2c80d3;
  color: rgb(119, 7, 7);
}
.youtube {
  background-color: #fa0910;
  color: white;
}
.twitter {
  background-color: #53c5ff;
  color: white;
}
